# Rule: sorted alphabetically

# ================================
# Build outputs
# ================================

backend/uploads/

# ================================
# Cache and temp files
# ================================

.cache/
.temp/
.tmp/

# ================================
# Dependencies
# ================================

node_modules/

# ================================
# Editors and IDEs
# ================================

# JetBrains
.idea

# Visual Studio Code
.vscode

# Zed
.zed

# ================================
# Environment variables
# ================================

.env
.env*
.env.development
.env.local
.env.production

# ================================
# Logs
# ================================

*.log
logs/

# ================================
# Operating system
# ================================

# macOS
.DS_Store
